@import 'library/stylesheets/global/mixins';

// $height-top-bar: 75px;
// $width-nav-left: 260px;
// $height-footer: 40px;

// $height-top-bar-mobile: 50px;
// $width-nav-left-mobile: 260px;
// $height-footer-mobile: 40px;



// .top-bar {
//   background-color: #FFFFFF;
//   height: $height-top-bar;
//   position: fixed;
//   // display: flex;
//   box-shadow: none;
//   width: 100%;
//   z-index: 10000;
//   padding: 0 40px;

//   // align-items: center;
//   @include screen-md {
//     height: $height-top-bar-mobile;
//     padding: 10px 20px;
//   }

// }

// .body-content {
//   position: relative;
//   top: $height-top-bar;
//   display: flex;
//   min-height: calc(100vh - #{$height-top-bar});

//   @include screen-md {
//     flex-direction: column;
//     top: $height-top-bar-mobile;
//     min-height: calc(100vh - #{$height-top-bar-mobile});
//   }

//   .nav-left {
//     background-color: #2887C7;
//     flex: 0 0 $width-nav-left;
//     min-width: $width-nav-left;
//     max-width: $width-nav-left;
//     max-height: 0;
//     min-height: inherit;
//     position: sticky;
//     top: $height-top-bar;
//     overflow-y: hidden;
//     display: flex;
//     z-index: 999;
//     transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s;

//     @include screen-md {
//       justify-content: center;
//       // display: none;
//       max-height: 0;
//       min-height: 0;
//       min-width: initial;
//       max-width: initial;
//       flex: auto;
//       box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.2);
//       overflow-y: initial;
//       top: 0;
//       position: relative;
//       // min-width: 0;
//       // width: 100%;
//       // max-height: 500px;
//       // min-height: auto;
//       // height: 100%;
//       // max-width: 100%;
//       // flex: 0 0 100%;
//       // background-color: rgba(40, 135, 199, 0.7);
//       // backdrop-filter: blur(15px);

//       &.shown {
//         display: flex;
//         z-index: 10;
//         max-height: calc(100vh - #{$height-top-bar-mobile});
//         min-height: 0;
//         transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .5s;
//       }

//       .nav-left__toggler {
//         position: absolute;
//         bottom: -30px;
//         width: 70px;
//         height: 30px;
//         left: 15px;
//         // right: 0;
//         // margin: 0 auto;
//         border-radius: 0 0 5px 5px;
//         background-color: #2682be;
//         cursor: pointer;
//         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

//         &::before {
//           position: absolute;
//           content: '';
//           width: 25px;
//           height: 6px;
//           border-radius: 25px;
//           background-color: rgb(236, 236, 236);
//           top: 0;
//           bottom: 0;
//           margin: auto 0;
//           left: 13.5px;
//           transform: rotate(22deg);
//           transition: all ease-in-out .3s .45s;
//         }

//         &::after {
//           position: absolute;
//           content: '';
//           width: 25px;
//           height: 6px;
//           border-radius: 25px;
//           background-color: rgb(236, 236, 236);
//           top: 0;
//           bottom: 0;
//           margin: auto 0;
//           right: 13.5px;
//           transform: rotate(-22deg);
//           transition: all ease-in-out .3s .45s;
//         }

//         &.opened {
//           box-shadow: none;

//           &::before {
//             transform: rotate(-22deg);

//           }

//           &::after {
//             transform: rotate(22deg);
//           }
//         }
//       }
//     }

//     .left__wrapper {
//       overflow: auto;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       overflow-x: hidden;

//       @include screen-md {
//         flex-grow: 1;
//       }

//       .left__term-box-wrapper {
//         padding: 22px;

//         @include screen-md {
//           padding: 15px;
//         }

//         .term-box {
//           border-radius: 7px;
//           // background: #3394D6;
//           // padding: 25px;
//           color: #FFFFFF;
//           display: flex;
//           flex-direction: column;

//           @include screen-md {
//             padding: 17px;
//           }

//           .term-box__item {
//             display: flex;
//             background: #3394D6;
//             border-radius: 7.5px;
//             padding: 16px;
//             transition: all ease-in-out 0.2s;

//             &:hover {
//               text-decoration: none;
//             }

//             .item--label {
//               flex-grow: 1;
//               padding-left: 20px;
//               color: #FFFFFF;

//               @include screen-md {
//                 font-size: 12px;
//               }
//             }

//             &:not(:last-child) {
//               margin-bottom: 8px;

//               @include screen-md {
//                 margin-bottom: 15px;
//               }
//             }

//             &:hover {
//               box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

//             }
//           }

//           .broken-padlock {
//             background: #FFFFFF;
//             border-radius: 7.5px;
//             padding: 16px;
//             position: relative;

//             .item-icon {
//               display: block
//             }

//             .message-warning {
//               position: absolute;
//               top: -15px;
//               right: 15px;
//             }

//             .item--label {
//               color: #546678
//             }
//           }
//         }
//       }

//       .left__bg-wrapper {
//         flex: 0 0 246px;
//         height: 246px;
//         padding-bottom: 20px;
//         padding-top: 25px;
//         position: relative;

//         .left__bg {
//           width: calc(100% + 20px);
//           height: 100%;
//           margin-left: -20px;
//           background: url(../../assets/components/banner-2.svg);
//           background-size: auto 116%;
//           background-position: right;
//         }
//       }

//     }

//     &.with-background {
//       background: url(../../assets/components/banner-2.svg);
//       background-size: 302px 201px;
//       background-position: -108px bottom;
//       background-repeat: no-repeat;
//       // padding-bottom: 201px;

//       .left__wrapper {
//         margin-bottom: 201px;
//       }
//     }
//   }

//   .content__main {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     min-width: 0;
//     // overflow-x: hidden;

//     .main__body {
//       flex: 1;
//       position: relative;

//       @include screen-lg {
//         display: flex;
//       }
//     }

//     .main__footer {
//       flex: 0 0 $height-footer;
//       padding: 0 30px;
//       box-shadow: 4px -2px 4px rgba(128, 128, 128, 0.15);
//     }
//   }
// }

.auth-layout {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(29, 36, 42, 0.7), rgba(29, 36, 42, 0.7)), url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80');
  background-size: cover, cover;
  background-position: center, center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px
}