// Margin
.m-0 {
  margin: 0 !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

// Padding



// Layout

.text-center {
  text-align: center;
}